{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/bootstrap.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'authentication/signinhelper.css' %}">
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'authentication/signin.css' %}">
<body class="text-center bg-dark text-light">
    <main class="form-signin w-100 m-auto" class="text-center">
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Alert! </strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <form action="{% url 'authentication:signup' %}" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

            <div class="form-floating">
                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="Create a username (alphanumeric)">
                <label for="floatingInput" class="text-dark">Username</label>
            </div>
            <div class="form-floating">
                <input name="firstname" type="text" class="form-control" id="floatingInput" placeholder="Enter your First Name">
                <label for="floatingInput" class="text-dark">First Name</label>
            </div>
            <div class="form-floating">
                <input name="lastname" type="text" class="form-control" id="floatingInput" placeholder="Enter your Last Name">
                <label for="floatingInput" class="text-dark">Last Name</label>
            </div>
            <div class="form-floating">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Enter your email address">
                <label for="floatingInput" class="text-dark">Email Address</label>
            </div>  
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingInput" placeholder="Enter a password">
                <label for="floatingInput" class="text-dark">Enter a password</label>
            </div>
            <div class="form-floating">
                <input name="confirmpassword" type="password" class="form-control" id="floatingInput" placeholder="Confirm password">
                <label for="floatingInput" class="text-dark">Confirm Password</label>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
        </form>
    </main>
</body>
</html>