<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h3>Sign Up</h3>
    <form action="{% url 'authentication:signup' %}" method="post">
    {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Create a username (alphanumeric)" required>
        <br>
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname" placeholder="Enter your first name" required>
        <br>
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" id="lastname" placeholder="Enter your last name" required>
        <br>
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" placeholder="Enter your email address" required>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Create a password" required>
        <br>
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm your password" required>
        <br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>